<!DOCTYPE html>
<html lang="en" xmlns:th=”www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="headerfg">

    <meta name="viewport" content="width=device-width, initial-scale=1, book-scalable=no" />
    <link rel="stylesheet" href="http://108.48.50.58:6723/Site/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="http://108.48.50.58:6723/Site/assets/css/main.css" />
</div>


<div th:fragment="footernote">

    <!-- Footer -->
    <footer id="footer">

        <div class="copyright">
            <p>&copy; 2020 - 2021 MC Liberary. All rights reserved.</p>
            <p>  </p>
        </div>
    </footer>

</div>

</div>



</div>


<div th:fragment="footerfg">

    <!-- Scripts -->
    <script src="http://108.48.50.58:6723/Site/assets/js/jquery.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/jquery.dropotron.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/jquery.selectorr.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/jquery.scrollex.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/jquery.scrolly.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/browser.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/breakpoints.min.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/util.js"></script>
    <script src="http://108.48.50.58:6723/Site/assets/js/main.js"></script>


</div>




</body>
</html>